extends layout 

block content 
  div.edit-container
    div.form-container
      form.auth-form(action="" method="POST")
        div.form-input-container
          input#username(type="text" name="username" required="true" maxLength="12" placeholder="Username" value=(undefined===profile ? '' : profile.username))
        div.form-input-container
          input#emoji(type="text" name="emoji" required="true" maxLength="2" placeholder="Use 1 emoji or 2 characters" value=(undefined===profile ? '' : profile.emoji))
          a.emoji-list(href="https://getemoji.com/" target="_blank" rel="noopener noreferrer" title="getemoji.com")
            p ☺
        button(type="submit") Update User

      if (errors)
        p #{errors}